*.class
*.pyc

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.pdf
*.png

*.idea
dependency-reduced-pom.xml
scalastyle-output.xml
bin/cluster/data/
bin/cluster/status_file


target/
logs/
assembly/
data/
lib/

conf/config.yml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# data/

# vim swap files
*.sw*

# IntelliJ IDEA files
*.iml
